.quatre {
    height: 75px;
}
.banner {
    width: 100%;
    height: 21px;
    z-index: 0;
    position:relative;
}
table.top {
    text-align: center;
    margin: 0px auto;
}
table.menu {
    border-left: 6px double seagreen;
    padding: 0px;
    text-align: left;
    background-color: rgb(20, 20, 20);
    color:seagreen;
    word-wrap: break-word;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: -14px;
    padding-right: 20px;
    z-index:1;
    position:relative;
    list-style-image: url();
    width:175px;
}
a {
    color: slateblue;
    text-decoration: none;
}
li:hover {
    font-weight:bold;
    list-style-image: url(img/stone.png);
    color:seagreen;
}
p {
    vertical-align: top;
}
html {
    /* border:red 3px double; */
    /* width: 33%; */
    /* background-color:rgb(20, 20, 20);
    color:seagreen; */
}
.logotop {
    /* background-image: url(img/jecglnldahd11.webp); */
}
.copyright {
    text-align:center;
    bottom: 0;
}
.pmedia {
    float: right;
    margin-left: 20px;
    width: 400px;
}

/* responsive styles */

@media screen and (max-width: 600px) {

    .pmedia {
        width: 100%;
        padding-top: 7px;
        margin-left: 0px;
        margin-right: 0px;
        float: none;
    }

    table.menu {
        margin:0;
        width: 100%;
    }

}