table.menu {
    margin-left: auto;
    margin-right: auto;
    border: 6px double black;
    text-align: center;
    background-color: rgb(255, 255, 255);
    word-wrap: break-word;
    list-style-image: url();
    width:175px;
    /* padding-left:40px;
    padding-right:40px; */
}
a {
    color: black;
    /* font-weight: normal; */
}
li {
    list-style: lower-latin;
    /* padding-left: 25px; */
    list-style-position: inside
}
li:hover {
    font-weight:bold;
    /* background-image: url(img/stone.png);
    background-repeat: no-repeat;
    background-position: left center; */
    /*list-style-image: url();*/
    list-style: lower-greek;
    list-style-position: inside
}

