table.menu {
    margin-left: auto;
    margin-right: auto;
    border: 8px ridge rgb(255, 0, 0);
    text-align: center;
    background-color: white;
    word-wrap: break-word;
    list-style-image: url();
    width:175px;
    /* padding-left:40px;
    padding-right:40px; */
    line-height: 2;
    font-size: 20px;
    
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal
}
a {
    color: black;
    /* font-weight: normal; */
}
li {
    list-style: lower-latin;
    /* padding-left: 25px; */
    list-style-position: inside;
    line-height: 2;
}
li:hover {
    font-weight:bold;
    /* background-image: url(img/stone.png);
    background-repeat: no-repeat;
    background-position: left center; */
    /*list-style-image: url();*/
    list-style: lower-greek;
    list-style-position: inside
}

