
th {
    text-align: center;
}
body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
img {
    float: right;
    width: 175px;
}
h1 {
    text-align: center;
    font-family: "EB Garamond", serif;
}
p.data {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}
table.menu {
    /* margin-left: auto;
    margin-right: auto; */
    border: 8px ridge rgb(255, 0, 0);
    background-color: white;

    width:175px;
    line-height: 2;
    font-size: 20px;
    padding-bottom: 5px;
    
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    float: left;
    margin-right: 10px;
}
a {
    color: black;
    /* font-weight: normal; */
}
li {
    font-weight: normal;

    padding-left:10px;
    text-align: left;
    list-style: lower-latin;
    list-style-position: inside;
    line-height: 2;
    word-wrap: break-word;
}
li.selected {
    font-weight: bold;

    padding-left:10px;
    text-align: left;
    list-style: lower-greek;
    list-style-position: inside;
    line-height: 2;
    word-wrap: break-word;
}
li:hover {
    font-weight:bold;

    list-style: lower-greek;
    list-style-position: inside
}

@media screen and (max-width: 600px) {

    table.menu {
        float:none;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        float: none;
        display: block;
        margin: 0 auto;
    }

}

