img {
    float: right;
    width: 175px;
}
h1 {
    text-align: center;
    font-family: "EB Garamond", serif;
}
p.data {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}
table.menu {
    /* margin-left: auto;
    margin-right: auto; */
    border: 8px ridge rgb(255, 0, 0);
    text-align: center;
    background-color: white;
    word-wrap: break-word;
    list-style-image: url();
    width:175px;
    line-height: 2;
    font-size: 20px;
    padding-bottom: 5px;
    
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    
    float: left;
    margin-right: 10px;
}
a {
    color: black;
    /* font-weight: normal; */
}
li {
    padding-left:10px;
    text-align: left;
    list-style: lower-latin;
    /* padding-left: 25px; */
    list-style-position: inside;
    line-height: 2;
}
li:hover {
    font-weight:bold;
    /* background-image: url(img/stone.png);
    background-repeat: no-repeat;
    background-position: left center; */
    /*list-style-image: url();*/
    list-style: lower-greek;
    list-style-position: inside
}

@media screen and (max-width: 600px) {

    table.menu {
        float:none;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

}

